body {
  font-family: 'Satoshi', sans-serif;
}

.strips{
  background-image: url(/images/strips.png);
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

/* General styling for modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tokenList {
  display: flex;
  flex-direction: column;
}

.tokenChoice {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.tokenLogo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.tokenDetails {
  display: flex;
  flex-direction: column;
}

.tokenName {
  font-weight: bold;
}

.tokenTicker {
  color: gray;
}

/* Swap container styles */
.swapContainer {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.swapInputContainer {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swapInput {
  width: 150px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.tokenSelector {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switchButton {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0;
}

.swapButton {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wallet-adapter-dropdown{
  background-color: #09090A;
  border-radius: 50%;
}

.wallet-adapter-button-trigger{
  background-color: #09090A;
  border-radius: 50%;
}