body {
  font-family: 'Satoshi', sans-serif;
}

.strips{
  background-image: url(../public/images/strips.png);
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}